
#logo{
    height:30px;
}
a.aproperty{

    color:white;
    font-family:bold;

}

a:hover{

    color: #9d9d9d;
}

.navbar{

    background-color:#0f192a;
}

.dropdown-menu{

    background-color:#0f192a;
}

.dropdown{

    padding-top: 10px;
    float: right;

}



.carousel {
    position: relative;
    height: 450px;

}

.carousel-caption {
    top:-45px;
    bottom:auto;
    color:orangered;
}

.carousel-inner>.item{

    height: 420px;
}

.carousel-inner>.item> a img {
    padding: 25px;
}
.carousel-control{
    background-color:#0f192a;

}


.carousel-indicators{
    background-color: #0f0f0f;

}





.panel-heading{
    background-color:#0f192a;
    color: white;

}


.enMoney::before {
    content:"R";
}
.negMoney {
    color:red;
}
div.negMoney::before {
    content:'(R';
}
div.negMoney::after {
    content:')';
}
